
 
<div class="sticky-top bg-light">
  <header class="d-flex flex-wrap justify-content-center py-3  border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="/assets/images/images.png" class="d-block mx-lg-auto img-fluid"  width="130" height="100" sizes="(max-width: 364px) 100vw, 364px">
      <!-- <span class="fs-4">Despacho contable</span> -->
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link h5 ms-3" aria-current="page">Inicio</a></li>
      <li class="nav-item"><a routerLink="about" routerLinkActive="active" class="nav-link h5 ms-3">Nosotros</a></li>
      <li class="nav-item"><a routerLink="services" routerLinkActive="active" class="nav-link h5 ms-3">Servicios contables</a></li>
      <li class="nav-item"><a routerLink="consultancy" routerLinkActive="active" class="nav-link h5 ms-3">Consultoria</a></li>
      <li class="nav-item"><a routerLink="faq" routerLinkActive="active" class="nav-link h5 ms-3">FAQs</a></li>
      <li class="nav-item"><a routerLink="contact" routerLinkActive="active" class="nav-link h5 ms-3">Contacto</a></li>
    </ul>
  </header>
</div>

