
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=7716842690&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20por%20favor%20." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>
  
  <section class="call-action-main overlay-main" id="apply">
    <div class=" p-3">
      <div class="row">
   
        <div class="col-lg-5">
          <div class="row">

            <div class="col-lg-12" data-aos="fade-up">
              <div class="">
                
              </div>
            </div>

       
            
          </div>
        </div>

        <div class="col-lg-7"    data-aos-easing="ease-out-cubic" data-aos-duration="1300" data-aos="fade-left">
          <div class="col-lg-12" >
            <div class="item-main">
              <h3>ACONTAMOS CON MÁS DE 30 AÑOS DE EXPERIENCIA</h3>
              <p class="h5">Contamos con un equipo de especialistas que trabajan día a día de manera responsable para lograr poner en marcha las mejores prácticas contables y de nómina electrónica.
                Sumamos más de 30 años de experiencia en dirigir y administrar empresas nacionales e internacionales, dando siempre un valor agregado, basados en nuestros ejes rectores: ética, expertise y tiempo de respuesta.
                Buscamos implementar alternativas creativas en los trabajos de nuestros clientes, para cumplir con sus expectativas y tener una imagen a la vanguardia a nivel nacional e internacional.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>


<div class="b-example-divider"></div>

<div class="row row-cols-1 row-cols-md-3  text-center bg-light rounded" >
   <div data-aos="fade-up"data-aos-delay="90" class="col py-3">
    <div class="card  rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">ESTÁNDAR</h4>
        <span>Hasta 70 movimientos</span>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$620</h1>
        <span>+IVA/Mes</span>
      </div>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Revisión de ingresos y gastos.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Consulta y descarga de facturas en el portal del SAT por medio de su RFC</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-left" data-aos-delay="300">
        <mat-expansion-panel-header>
        <mat-panel-title>
          Revisión de cuentas bancarias.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Ingresos y pagos reflejados en los estados de cuenta bancarios.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-left" data-aos-delay="300">
        <mat-expansion-panel-header>
        <mat-panel-title>
          Cálculo de impuestos.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Determinación del impuesto correspondiente. Envío del cálculo para su autorización.</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-left" data-aos-delay="300">
        <mat-expansion-panel-header>
        <mat-panel-title>
          Elaboración de contabilidad.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Elaboración de su contabilidad mensual y envío de formato para su pago en el banco.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-left" data-aos-delay="300">
        <mat-expansion-panel-header>
        <mat-panel-title>
          Elaboración de información financiera mensual.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Estado de resultados y Balance general.</p>
        </mat-expansion-panel>        

      </mat-accordion>
    </div>
  </div>

  <div data-aos="fade-down"data-aos-delay="120" class="col py-3">
    <div class="card  rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">BÁSICO</h4>
        <span>Hasta 30 movimientos</span>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$620</h1>
        <span>+IVA/Mes</span>
      </div>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Revisión de ingresos y gastos.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Consulta y descarga de facturas en el portal del SAT por medio de su RFC</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Revisión de cuentas bancarias.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Ingresos y pagos reflejados en los estados de cuenta bancarios.</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cálculo de impuestos.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Determinación del impuesto correspondiente. Envío del cálculo para su autorización.</p>
        </mat-expansion-panel>
        

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Elaboración de contabilidad.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Elaboración de su contabilidad mensual y envío de formato para su pago en el banco.</p>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>

  <div data-aos="fade-up"data-aos-delay="150" class="col py-3">
    <div class="card  rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">ESTÁNDAR PLUS</h4>
        <span>Hasta 100 movimientos</span>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$620</h1>
        <span>+IVA/Mes</span>
      </div>
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Revisión de ingresos y gastos.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Consulta y descarga de facturas en el portal del SAT por medio de su RFC</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Revisión de cuentas bancarias.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Ingresos y pagos reflejados en los estados de cuenta bancarios.</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cálculo de impuestos.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Determinación del impuesto correspondiente. Envío del cálculo para su autorización.</p>
        </mat-expansion-panel>
        

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"  data-aos="fade-right" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Elaboración de contabilidad.
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Elaboración de su contabilidad mensual y envío de formato para su pago en el banco.</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-right" >
        <mat-expansion-panel-header>
        <mat-panel-title>
          Elaboración de información financiera mensual.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Estado de resultados y Balance general.</p>
        </mat-expansion-panel>        

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"  data-aos="fade-right" >
        <mat-expansion-panel-header>
        <mat-panel-title>
          1 hora de asesoría gratis.
        </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Podrá resolver sus dudas contables y fiscales con uno de los especialistas en el tema.</p>
        </mat-expansion-panel>             

      </mat-accordion>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>


<div class="ch-100 text-dark rounded-3 bg-primary" data-aos="fade-right">

  <div class="container p-3">
    <div class="row">
 
      <div class="col-lg-7"    data-aos-easing="ease-out-cubic" data-aos-duration="1300" data-aos="fade-left">
        <div class="col-lg-12" >
          <div class="">

            <div class="row row-cols-1 row-cols-md-3  text-center  rounded" >
             


             <div data-aos="fade-up"data-aos-delay="90" class="py-3">
              <div  class=" shadow-lg  bg-body rounded">
                <figure class="figure">
                  <img src="assets/images/pcp-revision-ingresos-gastos.png" class="figure-img img-fluid rounded w-50" alt="...">
                  <figcaption class=""></figcaption>
                    <p class="figure-caption text-dark fs-6">REVISIÓN DE</p>
                    <p class="figure-caption text-success fw-bolder fs-5">INGRESOS Y GASTOS</p>
                </figure>
              </div>
            </div>
         
            <div data-aos="fade-up"data-aos-delay="90" class="py-3">
              <div  class=" shadow-lg  bg-body rounded">
                <figure class="figure">
                  <img src="assets/images/pcp-revision-cuentas.png" class="figure-img img-fluid rounded w-50" alt="...">
                  <figcaption class=""></figcaption>
                    <p class="figure-caption text-dark fs-6">REVISIÓN DE</p>
                    <p class="figure-caption text-success fw-bolder fs-5">CUENTAS BANCARIAS</p>
                </figure>
              </div>
            </div>

            <div data-aos="fade-up"data-aos-delay="90" class="py-3">
              <div  class=" shadow-lg  bg-body rounded">
                <figure class="figure">
                  <img src="assets/images/pcp-informacion-financiera.png" class="figure-img img-fluid rounded w-50" alt="...">
                  <figcaption class=""></figcaption>
                    <p class="figure-caption text-success fw-bolder fs-5">INFORMACIÓN</p>
                    <p class="figure-caption text-success fw-bolder fs-5">FINANCIERA</p>
                </figure>
              </div>
            </div>


            <div data-aos="fade-up"data-aos-delay="90" class="py-3">
              <div  class=" shadow-lg  bg-body rounded">
                <figure class="figure">
                  <img src="assets/images/pcp-calculo-impuestos.png" class="figure-img img-fluid rounded w-50" alt="...">
                  <figcaption class=""></figcaption>
                    <p class="figure-caption text-dark fs-6">CÁLCULO DE</p>
                    <p class="figure-caption text-success fw-bolder fs-5">IMPUESTOS</p>
                </figure>
              </div>
            </div>

            <div data-aos="fade-up"data-aos-delay="90" class="py-3">
              <div  class=" shadow-lg  bg-body rounded">
                <figure class="figure">
                  <img src="assets/images/pcp-elaboracion-contabilidad.png" class="figure-img img-fluid rounded w-50" alt="...">
                  <figcaption class=""></figcaption>
                    <p class="figure-caption text-dark fs-6">ELABORACIÓN DE</p>
                    <p class="figure-caption text-success fw-bolder fs-5">CONTABILIDAD</p>
                </figure>
              </div>
            </div>
            
           
            </div>

          </div>
        </div>
      </div>


      <div class="col-lg-5"    data-aos-easing="ease-out-cubic" data-aos-duration="1300" data-aos="fade-left">
        <div class="col-lg-12" >
          <div class="item-card">
            <h3>NUESTROS SERVICIOS EN LÍNEA</h3>
            <p>No te compliques y deja tu contabilidad en nuestras manos</p>
            
            <div class="text-center">
              <button type="button" class="btn btn-success btn-lg" routerLink="/contact">Asesoría en línea</button>
            </div>

          </div>
        </div>
      </div>
      
    </div>
  </div>


</div>

<div class="b-example-divider"></div>

<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="fade-down">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/images/sale_1.jpg" class="d-block w-100">
    </div>

    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/images/sale_2.jpg" class="d-block ">
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/images/sale_3.jpg" class="d-block w-100">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="b-example-divider"></div>

<div class="px-4 py-1 bg-light text-secondary mb-5 px-5" id="icon-grid">
  

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-4 px-5">

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="300">
      <div >
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">Tu proyecto funciona, ahora resolvamos tu contabilidad</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="500">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">Son importantes las ventas, pero tu contabilidad también</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="700">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">Iniciar con una buena contabilidad deja mejores resultados</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="900">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"><a class="text-dark" ms-1 style="text-decoration:none;">¿Más de un año y no has pagado impuestos?</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="1100">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"><a class="text-dark" ms-1 style="text-decoration:none;">¿Problemas con el SAT o con tu contador?</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="1300">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">No te pierdas de tus beneficios contables</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="1500">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">Necesitas resolver tus problemas fiscales</a></i>
      </div>
    </div>

    <div class="col d-flex align-items-start" data-aos="fade-left" data-aos-delay="1700">
      <div>
        <i class="shadow-lg bi bi-arrow-right-circle-fill ms-1 h4" style="color: #0d6efd;"> <a class="text-dark ms-1" style="text-decoration:none;">¿Sabes si tú empresa realmente está sana contablemente?</a></i>
      </div>
    </div>

  </div>
</div>

<div class="b-example-divider"></div>

  
    <div class="call-action overlay mb-5 ">
      <div class="row ">
   
        <div class="col-lg-5 align-self-center">
          <div class="row">

            <div class="col-lg-12" data-aos="fade-down">
              <div class="p-5">
                <div class="col-lg-20 align-self-center">
                  <div class="row">
        
                    <i class="bi bi-geo-alt-fill mb-3" style=" color: #EA4335;" data-aos="fade-right"data-aos-delay="150">  <a class="text-dark ms-1 h6" style="text-decoration:none; "> Cantú 9 Col. Anzures, Miguel Hidalgo, Ciudad de México, 11590</a></i>
                    <i class="bi-telephone mb-3" style=" color: #0d6efd;" data-aos="fade-right"data-aos-delay="350">  <a href="tel:7716842690" class="text-dark ms-1 h6" style="text-decoration:none;">   771-698-2690</a></i>
                    <i class="bi-envelope-fill mb-3" style=" color: #EA4335;" data-aos="fade-right"data-aos-delay="550"> <a href="mailto:danvir78@hotmail.com" class="text-dark ms-1 h6" style="text-decoration:none;"> danvir78@hotmail.com</a></i>
        
                </div>
                
                <div class="mb-3 ">
                  <abbr title="Facebook" data-aos="fade-up"data-aos-delay="350"> <a href="https://www.facebook.com" target="_blank"><i class="bi-facebook m-2" style="font-size: 2rem; color: #3b5998; cursor: pointer;"></i></a></abbr>
                  <abbr title="Instagram" data-aos="fade-up"data-aos-delay="550"><a href="https://www.instagram.com" target="_blank"><i class="bi-instagram m-2" style="font-size: 2rem; color: #C13584; cursor: pointer;"></i></a></abbr>
                  <abbr title="Whatsapp" data-aos="fade-up"data-aos-delay="750"><a  href="https://api.whatsapp.com/send?phone=7716842690&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20por%20favor%20." target="_blank"><i class="bi-whatsapp m-2" style="font-size: 2rem; color: #25d366; cursor: pointer;"></i></a></abbr>
                </div>
                 

                <div class="col-lg-20" data-aos="fade-down">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59955.70813878262!2d-98.7917973629315!3d20.082596561945916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a7716f1e038b%3A0x13315c101496b749!2sPachuca%20de%20Soto%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1646448792196!5m2!1ses!2smx" width="380" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
              </div>
              </div>
            </div>

          </div>
        </div>


        <div class=" my-5 ms-1 border rounded-3 col-lg-6 row row-cols-1 row-cols-md-1 bg-light" data-aos="fade-up" data-aos-easing="ease-in-sine">
          <div class="py-5">
  
              <h1 class="display-5 fw-bold ">Contacto</h1>
  
              <div class="row row-cols-1 row-cols-md-2  text-center rounded" >
  
                <div data-aos="fade-up"data-aos-delay="90" class="col py-3">
                  <mat-form-field class="example-form" appearance="outline"  >
                    <mat-label>Nombre</mat-label>
                    <input matInput required type="text" [(ngModel)]="nombre" autocomplete="off" [disabled]="canInput" >
                    <button mat-button *ngIf="nombre" matSuffix mat-icon-button aria-label="Clear" (click)="nombre=''" style=" border: none;" [disabled]="canInput">
                    <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="nombreFormControl.hasError('required')">
                        Nombre <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-divider [vertical]="true"></mat-divider>
               </div>
  
               <div data-aos="fade-up"data-aos-delay="90" class="col py-3">
  
                <mat-form-field class="example-form" appearance="outline" >
                  <mat-label>Email</mat-label>
                  <input type="email" required [(ngModel)]="correo" matInput [formControl]="emailFormControl"  placeholder="Ex. pat@example.com" autocomplete="off" [disabled] = "true">
                  <button mat-button *ngIf="correo" matSuffix mat-icon-button aria-label="Clear" (click)="correo=''" style="background-color: transparent; border: none;" [disabled]="canInput">
                      <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Por favor ingresa una dirección de correo electrónico válida
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email  <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
                <mat-divider [vertical]="true"></mat-divider>
  
             </div>
  
             
             <div data-aos="fade-up"data-aos-delay="90" class="col py-3">
                 
              <mat-form-field class="example-form" appearance="outline" >
                <mat-label>Teléfono</mat-label>
                <input matInput required #telefono type="number"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" [(ngModel)]="tel" placeholder="Ex. 94105" value="" autocomplete="off" [disabled]="canInput">
                <button mat-button *ngIf="tel" matSuffix mat-icon-button aria-label="Clear" (click)="tel=''" style="background-color: transparent; border: none;" [disabled]="canInput">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-hint align="end">{{telefono.value.length}} / 10</mat-hint>
                <mat-error *ngIf="telefonoFormControl.hasError('required')">
                    Teléfono <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="telefonoFormControl.hasError('maxLength') && !telefonoFormControl.hasError('required')">
                    Maximooo
                </mat-error>
                
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
  
              </div>
  
              <div data-aos="fade-up"data-aos-delay="90" class="col py-3">
             
                <mat-form-field class="example-form" appearance="outline"  >
                  <mat-label>Empresa</mat-label>
                  <input matInput required type="text" [(ngModel)]="empresa" autocomplete="off" [disabled]="canInput" >
                  <button mat-button *ngIf="empresa" matSuffix mat-icon-button aria-label="Clear" (click)="empresa=''" style=" border: none;" [disabled]="canInput">
                  <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="empresaFormControl.hasError('required')">
                      Nombre de empresa <strong>requerida</strong>
                  </mat-error>
              </mat-form-field>
              <mat-divider [vertical]="true"></mat-divider>
                </div>            
               
             </div>
  
             
  
  
             <mat-form-field class="example-form" appearance="outline" >
              <mat-label>Mensaje</mat-label>
              <textarea matInput  [(ngModel)]="mensaje" required #message maxlength="256" placeholder="Ex. I need help with..." [disabled]="canInput"></textarea>
  
        
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
              <mat-error *ngIf="mensajeFormControl.hasError('required')">
                  Mensaje <strong>requerido</strong>
              </mat-error>
          </mat-form-field> 
  
  
  
  
            <div class="text-center" style="    margin-top: 15px;">
              <button class="btn btn-primary" (click)="sendMail()" [disabled]="canInput" style="width: 100%;">Enviar</button>
            </div>
  
          </div>
        </div>
        
      </div>
    </div>
