<div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
      <div class="col-10 col-sm-8 col-lg-6 animate__animated animate__fadeInRight" >
        <img src="/assets/images/business-man.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 animate__animated animate__fadeInLeft">
        <h1 class="display-5 fw-bold lh-1 mb-3">Nosotros</h1>
        
          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">Corporativo Flores &amp; Lacrizca y Asociados SC es una firma de contadores y abogados con más de 15&nbsp;años de experiencia brindando&nbsp;servicios contables, fiscales y administrativos de manera integral y con calidad&nbsp;dentro del territorio nacional.</span></span></p>

          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">&nbsp;</span></span></p>

          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">Reconocemos y valoramos a nuestros clientes, para lo cual nos ocupamos de cumplir y rebasar las expectativas de servicio con la oportunidad que nos demandan, siempre aportando información financiera certera que contribuya a una correcta toma de decisiones.</span></span></p>

          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">&nbsp;</span></span></p>

          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">Nos distinguimos por el trato personal que se le da a cada uno de nuestros clientes, presentando recomendaciones y soluciones diseñadas a la medida; lo anterior, permite un crecimiento saludable y sustentable a nuestros clientes.</span></span></p>

          <p class="font_8" style="font-size:15px; text-align:justify;"><span style="font-size:15px;"><span style="color:#000000;">&nbsp;</span></span></p>

      </div>
    </div>
  </div>