<div style="margin-bottom: 100px;"> 
    <div class="container col-xxl-8" >
      <div class="row flex-lg-row-reverse align-items-center g-5 py-1" data-aos="fade-left">
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">CONTABLES Y FISCALES</h1>
              <p class="lead" style="text-align: justify; font-size: 15px;">Ante los constantes cambios que experimenta la legislación fiscal mexicana, tanto las empresas como las personas requieren asesoría contable y fiscal en todas las ramas tributarias. Nuestros expertos en Impuestos ofrecen una amplia gama de servicios contables y fiscales para que cada cliente cumpla, en tiempo y forma, con sus obligaciones fiscales y obtenga los máximos beneficios de las disposiciones legales vigentes. </p>
            </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/images/arte-2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>

      </div>
    </div>

    <br>
    
    <div class="container col-xxl-8 px-4 py-1" data-aos="fade-right">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/images/arte-4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">IMSS E INFONAVIT</h1>
          <p class="lead" style="text-align: justify; font-size: 15px;">La Seguridad Social protege los medios de subsistencia de los trabajadores y garantiza el derecho a la salud, a la asistencia médica y al otorgamiento de una pensión. Al patrón le corresponde contribuir con esta función del Estado mediante el pago de cuotas. Por ello, con el objeto de evitar diferencias a cargo para los patrones, que les origine recargos, actualizaciones o multas, ofrecemos la asesoría y la planeación en estas áreas a través de nuestros servicios como:</p>
          <ul class="font_8" style="color:rgb(0, 0, 0); font-size:15px; text-align:justify;">
            <li>
            <p class="font_8" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#000000;">Auditoría sobre el cumplimiento de las obligaciones obrero/patronales ante el IMSS e INFONAVIT</span></span></p>
            </li>
            <li>
            <p class="font_8" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#000000;">Asesoría en materia de IMSS e INFONAVIT</span></span></p>
            </li>
            <li>
            <p class="font_8" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#000000;">Dictamen IMSS y dictamen INFONAVIT</span></span></p>
            </li>
            <li>
            <p class="font_8" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#000000;">Gestiones ante el IMSS e INFONAVIT, tales como devoluciones de pagos improcedentes, confirmación de criterios, atención a requerimientos emitidos, trámites de pensiones</span></span></p>
            </li>
            <li>
            <p class="font_8" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#000000;">Elaboración e interposición de medios de defensa: recursos de inconformidad, juicios de nulidad y amparos, a través de asociados estratégicos</span></span></p>
            </li>
            </ul>
        </div>
      </div>
    </div>
    
    <br>

    <div class="container col-xxl-8 px-4 py-1" data-aos="fade-left">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
          <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">AUDITORIA FISCAL Y CONTABLE</h1>
              <p class="lead" style="text-align: justify; font-size: 15px;">
                Nuestro servicio de Auditoria Financiera supera los enfoques de los despachos y empresas de auditoria tradicionales. La experiencia acumulada y la tecnología de punta que utilizamos nos permiten una visión más amplia sobre los elementos auditables. Nuestros auditores financieros informan al cliente la congruencia que existe entre las cifras y los hechos económicos de los estados financieros de su empresa, apegándose con las Normas de Información Financiera (NIF). Realizamos cada trabajo con una adecuada supervisión y con base en un completo entendimiento del negocio.</p>
            </div>
            
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/images/arte-3.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>

      </div>
    </div>

  <br>  

    <div class="container col-xxl-8 px-4 py-1" data-aos="fade-right">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/assets/images/arte-1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">CAPITAL HUMANO Y OBLIGACIONES ESTATALES</h1>
          <p class="lead" style="text-align: justify; font-size: 15px;">
            Las obligaciones en materia de Capital Humano y Obligaciones Estatales, han incrementado en los últimos años, por ello es importante que las empresas cuenten con la debida asesoría para cumplir con dichas obligaciones.          
            Nuestra área cuenta con los profesionales capacitados para otorgar la asesoría en materia de Seguridad Social, INFONAVIT, Contribuciones Locales y en remuneraciones en general</p>
  
      </div>
      </div>
    </div>

</div>    
  